@import '../../styles/baseStyle/colors.scss';
@import '../../styles/baseStyle/size.scss';
@import '../../styles/baseStyle/font.scss';

@mixin slideButton {
  button {
    width: 84px;
    background-color: black;

    span {
      font-size: 50px;
      color: $white;
      pointer-events: none;
    }
  }
}

@mixin slideDots {
  .slideDots {
    display: flex;
    align-items: center;

    span {
      width: 12px;
      height: 12px;
      background-color: black;
      box-sizing: border-box;
      margin-left: 18px;
    }

    span.active {
      width: 42px;
    }
  }

  .slideDots.active {
    opacity: 1;
  }
}

.mainWrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;

  .sectionMargin {
    height: 80px;
  }

  .sliderSection {
    height: 800px;
    list-style: none;
    overflow: hidden;

    .sliderUl {
      display: flex;
      height: 100%;

      div {
        flex-shrink: 0;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .sliderUl.stopTran {
      transition: none;
    }

    .slideBtnArea {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -50%;
      margin: 0 50px;

      @include slideButton;
    }

    .slideDotsContainer {
      display: flex;
      justify-content: center;
      position: relative;
      top: -20%;

      @include slideDots;
    }
  }

  .bestIconSection {
    header {
      text-align: center;

      h1 {
        opacity: 0;
      }

      h1.active {
        opacity: 1;
      }
    }

    .iconImagesWrapper {
      width: 100%;
      background-color: #e0e0e2;

      .iconImagesContainer {
        display: flex;
        justify-content: space-between;
        width: 1140px;
        height: 260px;
        margin: 0 auto;
        opacity: 0;

        .iconEach {
          width: 168.33px;
          opacity: 0.3;
          text-align: center;
          cursor: pointer;

          .iconImage {
            width: 100%;
            height: 210px;
            pointer-events: none;
          }

          h3 {
            display: inline-block;
            padding-bottom: 4px;
            pointer-events: none;
          }

          h3.active {
            border-bottom: 2px solid black;
          }

          &:nth-child(n + 1) {
            margin-right: 30px;
          }
        }

        .iconEach.active {
          opacity: 1;
        }
      }

      .iconImagesContainer.active {
        opacity: 1;
      }
    }

    .bestIconContentsWrapper {
      width: 1140px;
      margin: 0 auto;
      opacity: 0;
      overflow: hidden;

      .bestIconContentsContainer {
        display: flex;
        position: relative;
        width: 100%;
        height: 467px;
        box-sizing: content-box;
        opacity: 0;

        .bestIconContentsEach {
          display: flex;
          flex-shrink: 0;
          justify-content: space-between;
          width: 1140px;

          .bestIconContentsEachWrapper {
            width: 530px;

            .bestIconContentsEachDetail {
              display: flex;
              padding: 0 20px;
              font-size: 20px;
              font-weight: 700;

              .detailLeft {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;

                p {
                  margin-bottom: 10px;

                  &:nth-child(2) {
                    color: $deepGrey;
                  }
                }
              }

              .detailRight {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
              }
            }

            img {
              width: 50%;
            }
          }
        }
      }

      .bestIconContentsContainer.active {
        opacity: 1;
      }

      .bestIconContentsBtn {
        display: flex;
        justify-content: space-between;

        @include slideButton;
        @include slideDots;
      }
    }

    .bestIconContentsWrapper.active {
      opacity: 1;
    }
  }

  .stickyWrapper {
    color: $white;
    background-color: $black;

    .stickyImageContainer {
      position: sticky;
      top: 0;
      height: 1100px;
      overflow: hidden;

      .stickyImage {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
      }
    }

    .stickyContentWrapper {
      position: relative;
      width: $mainContentWidth;
      min-height: 120vh;
      margin: 0 auto;

      .stickyContentContainer {
        display: flex;
        flex-direction: column;
        font-size: $extraLargeFont;
        line-height: 1.09;
        letter-spacing: 1.5px;

        .stickyHeader {
          display: flex;
          flex-direction: column;
        }

        .stickyBody {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 80px;

          .underbarSpan {
            display: flex;

            &::before {
              content: '';
              display: block;
              position: relative;
              width: 450px;
              height: 12px;
              background: $white;
            }

            &::after {
              content: '';
              display: block;
              position: relative;
              left: 30px;
              width: 80px;
              height: 12px;
              background: $white;
            }
          }

          .stickyBodyText {
            position: relative;
            top: 30px;
            font-size: $largeFont;
            line-height: 60px;

            a {
              display: block;
              margin-top: 32px;

              button {
                &:hover {
                  border: none;
                }

                div {
                  position: relative;

                  &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background: $white;
                    transition: all 0.3s;
                  }

                  &:hover::before {
                    width: 100%;
                  }

                  span {
                    position: relative;
                  }

                  &:hover span {
                    color: black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

* {
  transition: all 0.5s;
}
