@import '../../styles/baseStyle/size.scss';
@import '../../styles/baseStyle/font.scss';
@import './MainMixin.scss';
.mainWrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;

  .sectionMargin {
    height: 80px;
  }

  .fullSliderSection {
    height: 800px;
    list-style: none;
    overflow: hidden;

    .fullSliderUl {
      display: flex;
      height: 100%;
      transition: transform 0.5s;

      &.stopTran {
        transition: none;
      }

      div {
        flex-shrink: 0;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .fullSlideBtnArea {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -50%;
      margin: 0 50px;

      @include slideButton;
    }

    .fullSlideDotsContainer {
      display: flex;
      justify-content: center;
      position: relative;
      top: -20%;

      @include slideDots;
    }
  }

  .flexSliderSection {
    header {
      text-align: center;

      h1 {
        opacity: 0;
        transition: opacity 0.5s;
      }

      h1.active {
        opacity: 1;
      }
    }

    .iconImagesWrapper {
      width: 100%;
      background-color: #e0e0e2;

      .iconImagesContainer {
        display: flex;
        justify-content: space-between;
        width: 1140px;
        height: 260px;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 0.5s;

        .iconEach {
          width: 168.33px;
          opacity: 0.3;
          text-align: center;
          cursor: pointer;
          transition: opacity 0.3s;

          &.active {
            opacity: 1;
          }

          .iconImage {
            width: 100%;
            height: 210px;
            pointer-events: none;
          }

          h3 {
            display: inline-block;
            padding-bottom: 4px;
            pointer-events: none;
          }

          h3.active {
            border-bottom: 2px solid black;
          }

          &:nth-child(n + 1) {
            margin-right: 30px;
          }
        }
      }

      .iconImagesContainer.active {
        opacity: 1;
      }
    }

    .rapper {
      width: 100%;

      .recommendBtnsContainer {
        display: flex;
        justify-content: center;
        width: 1140px;
        height: 52px;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 0.5s;

        &.active {
          opacity: 1;
        }
        button {
          transition: all 0.5s;

          &:nth-child(n + 1) {
            margin-left: 20px;
          }

          &.selected {
            background-color: black;
          }

          &.selected div span {
            color: white;
          }
        }
      }
    }

    @include flexibleSlider;
  }

  .stickyWrapper {
    background-color: $black;

    .stickyContainer {
      position: sticky;
      top: 0;
      height: 161.7vh;
      overflow: hidden;

      .stickyImage {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
      }

      .bg {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fafafa;
        z-index: -1;
      }

      .stickyShoes {
        img {
          position: absolute;

          &:nth-child(1) {
            top: 350px;
            left: 200px;
          }

          &:nth-child(2) {
            top: 50px;
            right: 200px;
          }
        }
      }
    }

    .stickyContentWrapper {
      position: relative;
      width: $mainContentWidth;
      min-height: 140vh;
      margin: 0 auto;

      .stickyContentContainer {
        display: flex;
        flex-direction: column;
        font-size: $extraLargeFont;
        line-height: 1.09;
        letter-spacing: 1.5px;

        .stickyHeader {
          display: flex;
          flex-direction: column;

          &.padding600 {
            padding-left: 600px;

            span {
              &:nth-child(1) {
                font-size: 36px;
                color: #999;
              }
            }
          }

          &.white {
            span {
              color: $white;

              &.grey {
                color: $grey;
              }
            }
          }
        }

        .stickyBody {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 80px;

          &.deepGray {
            padding-left: 600px;
            div {
              color: $deepGrey;
            }
          }

          @include underbarSpan;

          .stickyBodyText {
            position: relative;
            top: 30px;
            font-size: $largeFont;
            line-height: 60px;

            &.white {
              color: white;
            }

            &.longText {
              font-size: 26px;
              line-height: 40px;
            }

            a {
              display: block;
              margin-top: 32px;

              @include buttonFill;
            }
          }
        }
      }
    }
  }

  .newJoinWrapper {
    min-width: 1140px;
    width: 100%;
    height: 100%;
    background: rgb(25, 25, 25);
    color: $white;
    border-bottom: 1px solid $deepGrey;

    .newJoinContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1140px;
      height: 100%;
      margin: 0 auto;
      padding: 50px 0;

      .newJoinText {
        display: flex;
        flex-direction: column;

        span {
          color: $white;
          &:nth-child(1) {
            font-size: $largeFont;
          }

          &:nth-child(2) {
            font-size: $mediumFont;
            color: $grey;
          }
        }
      }
    }
  }

  @include topBtn;
}
