@mixin skeletonP {
  width: 50px;
  height: 28.57px;
  background-color: #999;
  margin-bottom: 10px;
}

.skeletonEach {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 1140px;
  transition: opacity 0.5s;

  .bestIconSkeleton {
    margin: auto;
    width: 530px;
    height: 467px;
    background-image: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(lightgrey 329px, transparent 0),
      linear-gradient(lightgrey 28.57px, transparent 0),
      linear-gradient(lightgrey 28.57px, transparent 0),
      linear-gradient(lightgrey 28.57px, transparent 0),
      linear-gradient(lightgrey 28.57px, transparent 0),
      linear-gradient(lightgrey 48px, transparent 0);
    background-repeat: no-repeat;
    background-position: 0 0, 0 0, 10px 338px, 10px 378px, 10px 418px,
      410px 338px, 390px 405px;

    background-size: 25px 467px, 530px 329px, 50px 28.57px, 50px 28.57px,
      50px 28.57px, 100px 28.57px, 140px 48px;
    animation: bestIconShine 1s infinite;
  }

  .mdRecommendSkeleton {
    margin: auto;
    width: 530px;
    height: 480px;
    background-image: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(lightgrey 28.57px, transparent 0),
      linear-gradient(lightgrey 28.57px, transparent 0),
      linear-gradient(lightgrey 329px, transparent 0),
      linear-gradient(lightgrey 28.57px, transparent 0),
      linear-gradient(lightgrey 48px, transparent 0);
    background-repeat: no-repeat;
    background-position: 0 0, 0 0, 0 40px, 0 90px, 0px 430px, 390px 430px;
    background-size: 20px 480px, 50px 28.57px, 50px 28.57px, 530px 329px,
      100px 28.57px, 140px 48px;
    animation: mdRecommendShine 1s infinite;
  }
}

@keyframes bestIconShine {
  to {
    background-position: 100% 0, /* move highlight to right */ 0 0, 10px 338px,
      10px 378px, 10px 418px, 410px 338px, 390px 405px;
  }
}

@keyframes mdRecommendShine {
  to {
    background-position: 100% 0, /* move highlight to right */ 0 0, 0px 40px,
      0px 90px, 0px 430px, 390px 430px;
  }
}
