*,
html,
body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

// float 초기화
.clear::after {
  content: '';
  display: block;
  clear: both;
}

.strong {
  font-weight: 700;
}

* {
  scroll-behavior: smooth;
}
