* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale; /* smoothing font style */
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 16px;
}

h1 {
  margin: 0;
}

a {
  font-size: 100%;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

body,
html {
  width: 100%;
  // min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  // width: 100%;
  vertical-align: top;
}

address,
i,
em {
  font-style: normal;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}
