// font-size
$TitleFontSize64: 64px;
$TitleFontSize48: 48px;
$TitleFontSize36: 36px;
$TitleFontSize30: 30px;
$mediumFontSize26: 26px;
$mediumFontSize22: 22px;
$mediumFontSize20: 20px;
$defaultFontSize18: 18px;
$defaultFontSize16: 16px;
$smallFontSize14: 14px;
$smallFontSize12: 12px;

// font-weight
$rightWeight: 100;
$mediumWeight: 300;
$boldWeight: 600;
$extraBoldWeight: 900;
