@use '../../styles/baseStyle/colors.scss' as color;
@use '../../styles/baseStyle/font.scss' as font;
@use '../../styles/baseStyle/size.scss' as size;
@use '../../styles/baseStyle/border.scss' as border;

@mixin hoverEffect($direction) {
  transition: all 1s ease;
  opacity: 1;

  @if ($direction == prev) {
    transform: translateX(-6px);
  } @else if ($direction == next) {
    transform: translateX(6px);
  }
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  width: size.$mainContentWidth;
  margin-top: size.$navMarginTop;

  /* slideShow */
  .slideShow {
    width: 560px;
    height: 700px;
    margin-right: 60px;
    position: relative;
    overflow: hidden;

    .slides {
      display: flex;
      transition: all 0.5s ease;

      .slideContent img:hover {
        cursor: pointer;
        transform: scale(1.3);
        transition: transform 0.65s;
      }
    }

    .slideButton {
      display: flex;
      justify-content: space-between;
      position: relative;
      background: none;
      padding: 0 20px;
      bottom: 50%;

      button {
        background: none;
        font-size: 30px;
        font-weight: 400;
        color: color.$lightGrey;
        opacity: 0.5;
        cursor: pointer;
      }
    }

    .prev:hover {
      @include hoverEffect(prev);
    }

    .next:hover {
      @include hoverEffect(next);
    }
  }

  /* productDetail */
  .productDetail {
    display: flex;
    flex-direction: column;
    width: 520px;

    .detailTop {
      display: flex;
      align-items: center;
      font-size: 20px;
      height: 54px;

      .topFaheart,
      .topStar span {
        font-weight: font.$bold;
      }

      .topFaheart {
        display: flex;
        align-items: center;
        margin-left: 30px;

        svg {
          margin-right: 6px;
        }
      }

      .topStar {
        display: flex;
        margin-left: auto;
        font-size: 18px;
        letter-spacing: 1.08px;

        span {
          margin-left: 6px;
        }
      }
    }

    .detailTitle {
      font-size: 26px;
      font-weight: font.$bold;
    }

    .detailGuide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 166px;
      height: 34px;
      margin: 22px 0;
      padding: 0 17px;
      font-size: 15px;
      background-color: white;
      border: border.$btnBorderBlack;
    }

    .detailCenter {
      border-top: 1px solid #999;

      .centerCount {
        display: flex;
        margin-left: auto;
        padding: 16px 0;

        .centerCountUnderline {
          border-bottom: 1px solid black;
        }
      }

      .centerSizeDetail {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .centerSize {
          width: 168px;
          height: 36px;
          background-color: color.$white;
          border: 1px solid #999;

          &.black {
            background-color: black;
            color: white;
          }

          p {
            font-size: font.$mediumFont;
            padding-right: 80px;
          }
        }
      }

      .centerColorDetail {
        display: flex;
        align-content: center;
        margin-top: 20px;

        .centerColor {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          margin-right: 18px;

          &.black {
            background-color: black;
          }

          &.white {
            border: 1px solid black;
            background-color: white;
          }

          &.brown {
            background-color: brown;
          }
        }
      }

      .centerOption {
        display: flex;
        margin-top: 20px;

        .set {
          display: flex;
          justify-content: space-evenly;
          border-bottom: 1px solid black;

          p {
            font-size: 18px;
          }

          input {
            width: 60px;
            height: 26px;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }

          button {
            padding: 0 8px;
            width: 32px;
            height: 26px;
          }
        }

        .price {
          margin-left: auto;
          font-size: 26px;
          font-weight: font.$bold;

          svg {
            font-size: 18px;
            margin-right: 8px;
          }
        }
      }
    }

    .detailBtn {
      display: flex;
      margin-top: 18px;

      .cart,
      .buy {
        font-size: 22px;
        width: 100%;
        border: 1px solid black;
        padding: 15px;
      }

      .cart {
        margin-right: 10px;
        background-color: white;
      }

      .buy {
        color: white;
        background-color: black;
      }
    }
  }

  /* productExplain */
  .productExplain {
    display: flex;
    flex-direction: column;

    .explainText {
      text-align: center;
      margin: 120px 0;
      padding-bottom: 120px;
      border-bottom: border.$btnBorderBlack;

      &Title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      &Detail {
        font-size: 26px;
      }
    }

    .explainDetail {
      display: flex;
      padding-bottom: 120px;
      border-bottom: border.$btnBorderBlack;

      .explainSize {
        width: 50%;

        h2 {
          font-size: 26px;
          margin-bottom: 20px;
          padding-left: 8px;
        }

        .table {
          margin-bottom: 32px;
          border-top: 3px solid black;

          .tableTitle {
            width: 100px;
            height: 56px;
            font-size: 20px;
            letter-spacing: 1px;
            color: color.$deepGrey;
            border-bottom: 1px solid color.$grey;
          }

          .tableBody {
            height: 112px;
            letter-spacing: 1px;
            font-size: 36px;
            font-weight: 700;
            text-align: center;
            border-bottom: 1px solid color.$grey;
          }
        }
      }

      .explainContents {
        width: 50%;

        .ContentsList {
          display: flex;
          flex-wrap: wrap;
          gap: 50px;

          div {
            font-size: 20px;
            margin-bottom: 5px;
          }

          p {
            font-size: 30px;
            font-weight: 700;
          }
        }

        .ContentsDesk {
          margin-top: 32px;

          li {
            position: relative;
            width: 100%;
            margin-top: 16px;
            padding-left: 12px;
            line-height: 1.5;
            font-size: 24px;

            svg {
              margin-right: 10px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .test {
    width: 100%;
    font-size: 150px;
  }
}
